//
// CBL_static.xcconfig
//
// Copyright (c) 2022 Couchbase, Inc All rights reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

#include "vendor/couchbase-lite-core/Xcode/xcconfigs/static_lib.xcconfig"

PRODUCT_NAME                = cblite-static

DSTROOT                     = /tmp/couchbase_lite_C.dst
HEADER_SEARCH_PATHS         = $(LITECORE)/C/include $(LITECORE)/C/Cpp_include $(LITECORE)/C  $(LITECORE)/LiteCore/Support  $(LITECORE)/LiteCore/Logging  $(FLEECE)/API  $(FLEECE)/Fleece/Support $(SRCROOT)/include
SKIP_INSTALL                = YES
STRIP_INSTALLED_PRODUCT     = NO
