//
//  CBL_static.xcconfig
//  CBL_C
//
//  Created by Jens Alfke on 12/28/18.
//  Copyright © 2018 Couchbase. All rights reserved.
//

#include "vendor/couchbase-lite-core/Xcode/xcconfigs/static_lib.xcconfig"

PRODUCT_NAME                = CouchbaseLiteC-static

DSTROOT                     = /tmp/couchbase_lite_C.dst
HEADER_SEARCH_PATHS         = $(LITECORE)/C/include  $(LITECORE)/C  $(LITECORE)/LiteCore/Support  $(FLEECE)/API  $(FLEECE)/Fleece/Support
SKIP_INSTALL                = YES
STRIP_INSTALLED_PRODUCT     = NO
