//
//  CBL_static.xcconfig
//  CBL_C
//
//  Created by Jens Alfke on 12/28/18.
//  Copyright © 2018 Couchbase. All rights reserved.
//

#include "vendor/couchbase-lite-core/Xcode/xcconfigs/static_lib.xcconfig"

HEADER_SEARCH_PATHS = vendor/couchbase-lite-core/C/include  vendor/couchbase-lite-core/vendor/Fleece/API  vendor/couchbase-lite-core/vendor/Fleece/fleece/Support
