//
//  CBL_dylib.xcconfig
//  CBL_C
//
//  Created by Jens Alfke on 12/28/18.
//  Copyright © 2018 Couchbase. All rights reserved.
//

#include "vendor/couchbase-lite-core/Xcode/xcconfigs/dylib.xcconfig"

PRODUCT_NAME            = CouchbaseLiteC
EXPORTED_SYMBOLS_FILE   = $(DERIVED_FILE_DIR)/CBL.exp  // output of src/exports/generate_exports.sh
