//
//  Project.xcconfig
//  CBL_C
//
//  Created by Jens Alfke on 12/28/18.
//  Copyright © 2018 Couchbase. All rights reserved.
//

#include "vendor/couchbase-lite-core/Xcode/xcconfigs/Project.xcconfig"

LITECORE    = vendor/couchbase-lite-core
FLEECE      = $(LITECORE)/vendor/fleece

IPHONEOS_DEPLOYMENT_TARGET                         = 11.0
MACOSX_DEPLOYMENT_TARGET                           = 10.13
TVOS_DEPLOYMENT_TARGET                             = 11.0
SUPPORTED_PLATFORMS                                = macosx iphoneos iphonesimulator appletvos appletvsimulator

// No 32-bit support anymore
VALID_ARCHS                                        = x86_64 arm64
VALID_ARCHS[sdk=macosx*]                           = x86_64
VALID_ARCHS[sdk=iphonesimulator*]                  = x86_64
VALID_ARCHS[sdk=appletvsimulator*]                 = x86_64
VALID_ARCHS[sdk=iphoneos*]                         =        arm64
VALID_ARCHS[sdk=appletvos*]                        =        arm64
