//
//  Project.xcconfig
//  CBL_C
//
//  Created by Jens Alfke on 12/28/18.
//  Copyright © 2018 Couchbase. All rights reserved.
//

#include "vendor/couchbase-lite-core/Xcode/xcconfigs/Project.xcconfig"

LITECORE    = vendor/couchbase-lite-core
FLEECE      = $(LITECORE)/vendor/fleece

CBL_VERSION_STRING                                 = 3.0.1
CBL_BUILD_NUMBER                                   = 0

IPHONEOS_DEPLOYMENT_TARGET                         = 10.0
MACOSX_DEPLOYMENT_TARGET                           = 10.14
TVOS_DEPLOYMENT_TARGET                             = 10.0
SUPPORTED_PLATFORMS                                = macosx iphoneos iphonesimulator appletvos appletvsimulator
VALID_ARCHS                                        = arm64 x86_64
