//
//  Project.xcconfig
//  CBL_C
//
//  Created by Jens Alfke on 12/28/18.
//  Copyright © 2018 Couchbase. All rights reserved.
//

#include "vendor/couchbase-lite-core/Xcode/xcconfigs/Project.xcconfig"

LITECORE    = $(SRCROOT)/vendor/couchbase-lite-core
FLEECE      = $(LITECORE)/vendor/fleece

CBL_VERSION_STRING                                 = 0.0.0 // The actual version number will be set by Jenkins Build.
CBL_BUILD_NUMBER                                   = 0     // The actual build number will be set by Jenkins Build.

IPHONEOS_DEPLOYMENT_TARGET                         = 10.0
MACOSX_DEPLOYMENT_TARGET                           = 10.14
TVOS_DEPLOYMENT_TARGET                             = 10.0
SUPPORTED_PLATFORMS                                = macosx iphoneos iphonesimulator appletvos appletvsimulator
VALID_ARCHS                                        = arm64 x86_64
