//
//  XCTests.xcconfig
//  CBL_C
//
//  Created by Jens Alfke on 10/4/19.
//  Copyright © 2019 Couchbase. All rights reserved.
//

HEADER_SEARCH_PATHS     = include  Xcode/generated_headers/public/cbl  $(FLEECE)/API  $(FLEECE)/Fleece/Support  $(FLEECE)/vendor/catch

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/.. @loader_path/..

INFOPLIST_FILE          = Xcode/Tests-Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.couchbase.CouchbaseLiteTests
PRODUCT_NAME            = $(TARGET_NAME)

LLVM_LTO                    = NO    // LTO makes tests very slow to link and confuses Instruments
