build_cmake
build
bin
*.o
*.so
*.dylib
empty.cpp
vendor/couchbase-lite-core-EE
Xcode/generated_headers

# Vector Search Extension libraries for tests
test/extensions/apple
test/extensions/linux
test/extensions/windows

# Editors
.vscode
*.sublime-workspace

# Xcode
xcuserdata

# Python
python/CouchbaseLite/*.c
*.pyc

# Rust
Cargo.lock
bindings/rust/CouchbaseLite/target/
build_apple_out

# Others
.DS_Store