build_cmake
build
bin
*.o
*.so
*.dylib
empty.cpp
vendor/couchbase-lite-core-EE

# Editors
.vscode
*.sublime-workspace

# Python
python/CouchbaseLite/*.c
*.pyc

# Rust
Cargo.lock
bindings/rust/CouchbaseLite/target/
